@import url("../ESTILOS/estilosLogin/animacoes.css");
@import url("../ESTILOS/estilosLogin/formulario.css");
@import url("../ESTILOS/reset.css");
@import url("../ESTILOS/estilosLogin/links.css");
@import url("../ESTILOS/estilosLogin/inputs.css");

.login {
    width: 100vw;
    height: 70vh;
    margin: 0 auto;
}

.link-login {
    text-align: center;
    padding: 10px 0;
}

.menu {
    color: #000;
}

body {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../imagens/conteudo/banner1y.png");
    background-color: #94e2c4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
}

/* content que contem os formulários */
.content {
    width: 500px;
    margin: 0px auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao-logar {
    background-color: #0eba50;
}

.container {
    margin-bottom: 35px;
}

/* formatando o cabeçalho dos formulários */
h1, h2 {
    font-size: 48px;
    color: #000000;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 20px;
}

h3, h4 {
    text-align: left;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 3rem;
    border-bottom: 1px solid #222;
    opacity: 0.4;
    background-color: #F6F1F1;
    font-weight: 500;
    box-shadow: 1px 1px 0px 0px;
}

.campo-botoes {
    display: flex;
    justify-content: space-between;
}

.botao-sair {
    background-color: #E06469;
    width: 5vw;
    height: 4vh;
    margin-top: 10px;
    margin-bottom: 7px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.link-login{
    text-decoration: none;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    border: 0;
}

.botao-cadastrar {
    background-color: #0eba50;
    width: 5vw;
    height: 4vh;
    margin-top: 10px;
    margin-bottom: 7px;
    border-radius: 5px;
    border: 0;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    margin-bottom: 15px;
}

p:first-child {
    margin: 0px;
}


.campo-texto {
    width: 20vw;
}

.form {
 background-color: #ffff;
 padding: 2px;
 width: 100vw;
 opacity: 0.9;
 margin:  0;
}


.link-botao {
    background: #e1eaeb;
    color: #7f7c7c;
    height: 50px;
    opacity: 0.9;
}

.legenda-campo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.titulo-login {
    font-weight: 500;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}