body {
  overflow-x: hidden;
  background: #f9f9f9;
  width: 100vw;
  height: 100vh;
}

.lista-links {
  display: flex;
 
}

.logo-produtos {
  width: 90px;
}

.secao-produtos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85vw;
  height: 75vh;
  padding: 10px 0;
}


/* box-shadow: 0.1px 1px 2px 0.4px; */
.banner-oferta {
  display: flex;
  align-items: center ;
  flex-direction: column;
  margin-top: 10px;
}

.lista-item {
  margin: 5px 0;
}
