body {
  overflow-x: hidden;
  background: #f9f9f9;
  width: 100vw;
  height: 100%;
}

.lista-links {
  display: flex;
 
}

.logo-produtos {
  width: 90px;
}

.secao-produtos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 85vw;
  height: 75vh;
  padding: 10px 0;
}


/* box-shadow: 0.1px 1px 2px 0.4px; */
.banner-oferta {
  display: flex;
  align-items: center ;
  flex-direction: column;
  margin-top: 10px;
}

.lista-item {
  margin: 5px 0;
}

.container-modal {
  width: 30vw;
  height: 25vh;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 33%;
  text-align: center;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #495057;
  border-radius: 15px;
  display: none;
  animation: animate;
  animation-duration:  800ms;
  font-weight: bold;
  border: 1px solid #fff;
}

.container-modal {
  position: fixed;
}

@keyframes animate {
  from{opacity: 1;}
  from{opacity: 0;}
}

.legendas > h1{
  color: #fff;
  border-bottom: 1px solid #fff;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
  font-size: 2rem;
  margin-top: 20px;
  width: 28vw;
  padding: 10px 0;
  text-align: left;
}

.legendas > p  {
  border-bottom: 1px solid #fff;
  padding: 10px 0;
  width: 28vw;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2rem;
}

.container-modal > button {
  border: 0;
  outline: none;
  width: 7vw;
  height: 5vh;
  margin-top: 30px;
  float:inline-end;
  margin-left: 390px;
  background-color: #0d6efd;
  font-size: 1.2rem;
  color: #f0f0f0;
  /* */
}


.legendas {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: left;
}

.legendas > p {
  color: #fff;
}

.input-group {
  width: 110px;
  display: inline-block;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out
}


.input-valor {
  width: 10%;
  border: 0;
  outline: none;
}

main {
  margin-top: 60px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.content {
  box-shadow: 0.1px 1px 2px 0.4px;
  width: 50vw;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  height: 100vh;
}


body > main {
  background: #fff;
  padding: 0 30px 30px;
}

body > main .page-title {
  font-size: 40px;
  padding: 50px 0;
  text-align: center;
}

body > main .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body > main .content section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

body > main .content aside {
  min-width: 250px;
}

button {
  cursor: pointer;
  font-family: 'Lato', sans-serif;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table thead tr {
  border-bottom: 3px solid #eee;
}

table thead tr th {
  text-align: left;
  padding-bottom: 10px;
  text-transform: uppercase;
  color: #666;
}

table tbody tr {
  border-bottom: 3px solid #eee;
}

table tbody tr:last-child {
  border: 0;
}

table tbody tr td {
  padding: 30px 0;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product img {
  border-radius: 6px;
}

.product .info {
  margin-left: 20px;
}

.product .info .name {
  font-size: 20px;
  margin-bottom: 10px;
}

.product .info .category {
  color: #666;
}

.qty {
  background: #eee;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0 0;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 60px;
  border-radius: 20px;
  overflow: hidden;
  height: 30px;
}

.qty span {
  margin: 0 10px;
}

.qty button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: transparent;
  border: 0;
  padding: 0 10px;
  font-size: 20px;
  height: 100%;
}

.qty button:hover {
  background: #ddd;
}

.remove {
  background: #eee;
  border: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 20px;
}

.remove:hover {
  background: #ddd;
}

aside {
  margin-left: 30px;
}

aside .box {
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background: #eee;
  color: #222;
}

aside .box header {
  padding: 15px 20px;
  font-size: 18px;
  border-bottom: 1px solid #ccc;
}

aside .box .info {
  padding: 20px;
  font-size: 16px;
}

aside .box .info > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
  color: #555;
}

aside .box .info > div:last-child {
  margin: 0;
}

aside .box .info button {
  color: #28a745;
  background: transparent;
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
}

aside .box footer {
  padding: 15px 20px;
  background: #ddd;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

aside > button {
  border: 0;
  padding: 15px 0;
  color: white;
  background: #28a745;
  display: block;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 16px;
}

aside > button:hover {
  background: #3bc55b;
}