body {
    background-image: url("../imagens/conteudo/banner1y.png");
    background-color: #94e2c4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

form {
    border: 5px solid #024e1b;
    border-radius: 15px;
    float: left;
    padding: 12px;
    margin-left: 500px;
    margin-top: 50px;
    font: 16px;
    font-family: Poppin, Verdana, sans-serif;
    color: #025e1d;
    display: flex;
    flex-direction: column;
}

form input {
    padding: 4px;
    /* width: 500px; */
}   

form .btn {
    width: 200px;
    cursor: pointer;
    font-size: 18px;
}

