/* estilos para para ambos os formulários */
#cadastro,
#login {
    position: absolute;
    top: 75px;
    width: 88%;
    padding: 18px 6% 60px 6%;
    margin: 0 0 35px 0;
    background: rgb(247, 247, 247);
    border: 1px solid rgba(147, 184, 189, 0.8);

    -webkit-box-shadow: 5px;
    border-radius: 5px;

    -webkit-animation-duration: 0.5s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;

    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-fill-mode: both;
}

#paracadastro:target~.content #cadastro,
#paralogin:target~.content #login {
    z-index: 2;
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;

    -webkit-animation-delay: .1s;
    animation-delay: .1s;
}

#registro:target~.content #login,
#paralogin:target~.content #cadastro {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}

