/**** advanced input styling ****/
/* placeholder */
::-webkit-input-placeholder {
    color: #bebcbc;
    font-style: italic;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
    color: #bebcbc;
    font-style: italic;
}

input {
    outline: none;
}

input:not([type="checkbox"]) {
    width: 95%;
    margin-top: 4px;
    padding: 10px;
    border: 1px solid #b2b2b2;

    -webkit-border-radius: 3px;
    border-radius: 3px;

    -webkit-box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;
    box-shadow: 0px 1px 4px 0px rgba(168, 168, 168, 0.6) inset;

    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/*estilo do botão submit */
input[type="submit"] {
    width: 100% !important;
    cursor: pointer;
    /* background: #b32e2e; */
    padding: 8px 5px;
    color: #fff;
    font-size: 20px;
    border: 1px solid #fff;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px #333;

    -webkit-border-radius: 5px;
    border-radius: 5px;

    transition: all 0.2s linear;
}

input[type="submit"]:hover {
    background: #b32e2e;
}

label {
    color: #405c60;
    position: relative;
}

.botao-cadastro {
    background-color: #0eba50;
}



